In [1]:
# Querying TMDB with IDs from Grouplens

In [2]:
query = """
SELECT tmdbId
FROM `film-wizard-453315.Grouplens.grouplens_links`
"""

In [3]:
import pandas as pd
from google.cloud import bigquery

In [4]:
client = bigquery.Client()
tmdb_list = client.query(query)
df = client.query(query).to_dataframe()
df

/Users/oliverramsaygray/.pyenv/versions/3.10.6/envs/film_wizard/lib/python3.10/site-packages/google/cloud/bigquery/table.py:1900: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

        tmdbId
0         <NA>
1         <NA>
2         <NA>
3         <NA>
4         <NA>
...        ...
87580  1179468
87581  1181568
87582  1181806
87583  1182286
87584  1186337

[87585 rows x 1 columns]

In [5]:
! pwd

/Users/oliverramsaygray/code/oliverramsaygray/film_wizard/notebooks