In [9]:
import csv
import pandas as pd
from rapidfuzz import fuzz, process

In [10]:
from google.cloud import bigquery

# Initialize BigQuery client
client = bigquery.Client()
print("Authenticated successfully!")

Authenticated successfully!

In [4]:
sample_user_file_path = '../raw_data/sample_user_input.csv'

In [20]:
user_titles_df = pd.read_csv(sample_user_file_path)
user_titles_df

                                           title   rating
0                            Pride and Prejudice       10
1  Lord of the Rings: the fellowship of the ring       10
2              Lord of the Rings: The Two Towers       10
3      Lord of the Rings: The return of the king       10
4                                       Brooklyn       10
5                     The   Shawshank Redemption       10
6                                Erin Brockovich        8
7                               Help, The (2011)        8
8                            Bridget Jones Diary        8
9                                  Happy Gilmore        0

In [11]:
query = """
SELECT movieId, title
FROM `film-wizard-453315.Grouplens.grouplens_movies`
"""

grouplens_movies_df = client.query(query).to_dataframe()

grouplens_movies_df.head()

/home/joshmcm/.pyenv/versions/3.10.6/envs/film_wizard/lib/python3.10/site-packages/google/cloud/bigquery/table.py:1900: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

   movieId                      title
0   181685                 به نام پدر
1   139596              Danielův svět
2   151307  The Lovers and the Despot
3   178223         Injecting Aluminum
4   189345      The Doctor From India

In [13]:
choices = grouplens_movies_df['title']

In [22]:
for query in user_titles_df['title']:
    print(process.extract(query, choices, limit=3))

[('Pride and Prejudice', 100.0, 8657), ('Pride and Prejudice', 100.0, 38172), ('Pride and Prejudice', 100.0, 38319)]
[('Lord of the Rings: The Fellowship of the Ring, The', 88.42105263157895, 19605), ('The Lovers and the Despot', 85.5, 2), ('Yosemite: The Fate of Heaven', 85.5, 8)]
[('Lord of the Rings: The Two Towers, The', 93.5820895522388, 19608), ('Tower', 90.0, 44408), ('Tower', 90.0, 65095)]
[('Lord of the Rings: The Return of the King, The', 89.65517241379311, 9010), ('Lord of the Rings, The', 85.9090909090909, 17443), ('The Lovers and the Despot', 85.5, 2)]
[('Brooklyn', 100.0, 73986), ('My Brooklyn', 95.0, 52303), ('Brooklyn 45', 95.0, 83055)]
[('Shawshank Redemption, The', 93.0612244897959, 45067), ('Redemption', 90.0, 5333), ('Redemption', 90.0, 13714)]
[('Erin Brockovich', 100.0, 61944), ('Tiny: The Life of Erin Blackwell', 85.5, 53654), ('Bros', 73.28571428571429, 43354)]
[('Hel', 90.0, 4744), ('Help, The', 90.0, 64718), ('The Lovers and the Despot', 85.5, 2)]
[("Bridget Jones's Diary", 95.0, 38590), ('Diary', 90.0, 48967), ('Dia', 90.0, 74384)]
[('Happy Gilmore', 100.0, 28758), ('Happy', 90.0, 56362), ('Happy', 90.0, 73333)]