In [4]:
from transformers import pipeline

pipe = pipeline("text-classification", model="mohameddhiab/humor-no-humor")

RuntimeError: Failed to import transformers.pipelines because of the following error (look up to see its traceback):
No module named '_lzma'

In [8]:
from google.cloud import bigquery
client = bigquery.Client(project="film-wizard-453315")

cluster_query = """
        SELECT *
        FROM `film-wizard-453315.clustered_movies.clusters_ids`
    """
# Fetch data from BigQuery
cluster_ids_df = client.query(cluster_query).to_dataframe()

In [9]:
cluster_ids_df

       tmdbId  Cluster  movieId   imdbId
0      295050        0   205461  2075318
1       43354        0    33790    45607
2      325138        0   130492  3495030
3        3082        0     3462    27977
4      351964        0   140301  3793788
...       ...      ...      ...      ...
19613  297702      199   132482  2252552
19614  276839      199   128632  2802136
19615  353732      199   161684  4215810
19616  256311      199   115996  3348102
19617   53882      199   128522   198279

[19618 rows x 4 columns]

In [10]:
cluster_query = """
       SELECT * FROM `film-wizard-453315.clustered_movies.dbscan_all`
    """
# Fetch data from BigQuery
metadata = client.query(cluster_query).to_dataframe()

,lower_title,Title,URL,Script,Clean_Script,joy,neutral,sadness,surprise,anger,...,movie_genre,music_genre,mystery_genre,romance_genre,science_genre,thriller_genre,tv_genre,war_genre,western_genre,Cluster
0,nancy goes to rio (1950),Nancy Goes to Rio (1950),/movie_script.php?movie=nancy-goes-to-rio,"NANCY: Hello, Mr. Moroney.\n - Hello, Nancy, t...","[nancy, hello, mr, moroney, hello, nancy, the,...",0.309735,0.168142,0.132743,0.088496,0.000000,...,0.0,0.890023,0.0,0.000000,0.0,0.0,0.0,0.000000,0.000000,21
1,rocketman (2019),Rocketman (2019),/movie_script.php?movie=rocketman-2019,1\n How long is this gonna take?\n That's real...,"[how, long, is, this, gonna, take, thats, real...",0.285714,0.065934,0.351648,0.120879,0.076923,...,0.0,0.919508,0.0,0.000000,0.0,0.0,0.0,0.000000,0.000000,21
2,outlaw johnny black (2023),Outlaw Johnny Black (2023),/movie_script.php?movie=outlaw-johnny-black,1\n [theme music]\n [dramatic music]\n [insect...,"[theme, music, dramatic, music, insects, chirp...",0.240000,0.128000,0.152000,0.176000,0.128000,...,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.000000,0.802414,-1
3,r-point (2004),R-Point (2004),/movie_script.php?movie=r-point,"1\n Nah Trang, Vietnam, 1972-01-07, 1:30 AM\n ...","[nah, trang, vietnam, am, come, in, butterfly,...",0.000000,0.020833,0.020833,0.250000,0.541667,...,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.000000,0.000000,-1
4,shadow (2018),Shadow (2018),/movie_script.php?movie=shadow,"1\n May I speak with you, sire\n same\n same\n...","[may, i, speak, with, you, sire, same, same, c...",0.142857,0.023810,0.476190,0.214286,0.095238,...,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.847903,0.000000,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19619,moment by moment (1978),Moment by Moment (1978),/movie_script.php?movie=moment-by-moment,What about\n the sleeping pills?\n I'm gonna b...,"[what, about, the, sleeping, pills, im, gonna,...",0.135135,0.162162,0.256757,0.202703,0.027027,...,0.0,0.000000,0.0,0.835608,0.0,0.0,0.0,0.000000,0.000000,27
19620,a moving romance (2017),A Moving Romance (2017),/movie_script.php?movie=a-moving-romance,[upbeat music]\n Taking my time\n And dreaming...,"[upbeat, music, taking, my, time, and, dreamin...",0.357143,0.255102,0.173469,0.173469,0.000000,...,0.0,0.000000,0.0,0.835608,0.0,0.0,0.0,0.000000,0.000000,27
19621,"come back, little sheba (1952)","Come Back, Little Sheba (1952)",/movie_script.php?movie=come-back-little-sheba,Good morning.\n You've come to see the room?\n...,"[good, morning, youve, come, to, see, the, roo...",0.192308,0.243590,0.141026,0.038462,0.076923,...,0.0,0.000000,0.0,0.835608,0.0,0.0,0.0,0.000000,0.000000,27
19622,flipped (2010),Flipped (2010),/movie_script.php?movie=flipped,BRYCE: All I ever wanted\n was for Juli Baker ...,"[bryce, all, i, ever, wanted, was, for, juli, ...",0.177966,0.050847,0.186441,0.271186,0.076271,...,0.0,0.000000,0.0,0.835608,0.0,0.0,0.0,0.000000,0.000000,27
19623,"ana, my love (2017)","Ana, My Love (2017)",/movie_script.php?movie=ana-my-love,1\n - ...and in Beyond Good and Evil.\n - That...,"[and, in, beyond, good, and, evil, that, was, ...",0.057971,0.159420,0.159420,0.130435,0.159420,...,0.0,0.000000,0.0,0.835608,0.0,0.0,0.0,0.000000,0.000000,27

In [13]:
metadata = metadata.drop(columns = ['Cluster'])

In [173]:
import pandas as pd
merged_df = pd.merge(cluster_ids_df, metadata, on = 'tmdbId', how = 'inner')
merged_df[merged_df['Title'] == 'Django Unchained (2012)']

,tmdbId,Cluster,movieId,imdbId,lower_title,Title,URL,Script,Clean_Script,joy,...,horror_genre,movie_genre,music_genre,mystery_genre,romance_genre,science_genre,thriller_genre,tv_genre,war_genre,western_genre
1188,68718,8,99114,1853728,django unchained (2012),Django Unchained (2012),/movie_script.php?movie=django-unchained,Who's that stumblin' around in the dark?\n Sta...,"[whos, that, stumblin, around, in, the, dark, ...",0.098361,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.934238

In [122]:
merged_df.select_dtypes(exclude = 'object').groupby('Cluster').mean().std()

tmdbId                226822.927136
movieId                 59346.59983
imdbId               3767356.539554
joy                        0.054355
neutral                    0.038267
sadness                    0.034281
surprise                    0.04533
anger                       0.05299
disgust                    0.013509
fear                        0.05177
sentiment_entropy          0.139895
sentiment_std              0.082832
hapax                    117.708918
fkgl                       2.757911
fre                         7.82048
smog                       0.587737
fog                        2.770748
word count               210.926781
TTR                        0.021119
script_length           1563.541102
mean_word_length           0.084861
runtime                   11.520932
words_per_minute          16.937947
action_genre               0.215649
adventure_genre             0.20924
animation_genre            0.158726
comedy_genre               0.271822
crime_genre                0.207555
documentary_genre          0.186256
drama_genre                0.248947
family_genre               0.183025
fantasy_genre              0.177867
fiction_genre              0.161296
history_genre              0.171242
horror_genre               0.242141
movie_genre                0.136081
music_genre                 0.13404
mystery_genre              0.188968
romance_genre              0.249697
science_genre              0.161296
thriller_genre             0.239796
tv_genre                   0.136081
war_genre                  0.146024
western_genre               0.13485
dtype: Float64

In [ ]:
# proccessed_df = merged_df

# project_id = 'film-wizard-453315'  # GCP Project ID
# dataset_id = "clustered_movies"  # dataset name

# table_id = "clusters_ids_metadata"  # Replace with your table name

# proccessed_df.to_gbq(f"{dataset_id}.{table_id}", project_id=project_id, if_exists="replace")

In [139]:
def cluster_classifier(merged_df):
    clusters = []
    cluster_genres = []
    cluster_sent_ent = []
    cluster_fog = []
    cluster_joy = []
    cluster_wpm = []
    cluster_volume = []
    cluster_sent_label = [] 
    
    unique_clusters = merged_df['Cluster'].unique()
    
    for i in unique_clusters:
        df = merged_df[merged_df['Cluster'] == i]
        clusters.append(i)
        
        # Handle cases where genres might be empty
        if not df['genres'].empty:
            most_common_genre = df['genres'].value_counts().idxmax()
        else:
            most_common_genre = None
            
        cluster_genres.append(most_common_genre)
        cluster_sent_ent.append(df['sentiment_entropy'].median())
        cluster_fog.append(round(df['fog'].median(),0))
        #cluster_joy.append(df['joy'].median())
        cluster_wpm.append(round(df['words_per_minute'].median(),0))
        cluster_volume.append(len(df))
        
        # Encode sentiment entropy into categories
        if df['sentiment_entropy'].median() < 1.0:
            cluster_sent_label.append("Low")
        elif df['sentiment_entropy'].median() < 1.3:
            cluster_sent_label.append("High")
        else:
            cluster_sent_label.append("Very High")
        
    # Proper DataFrame construction
    return_df = pd.DataFrame({
        'Cluster': clusters,
        'Cluster_Volume': cluster_volume,
        'Top_Genres': cluster_genres,
        #'Median_Sentiment_Entropy': cluster_sent_ent,
        'Sentiment_Entropy_Level': cluster_sent_label,  # New encoded column
        'Years_Education_Required': cluster_fog,
        #'Joy_Level': cluster_joy,
        'Words_Per_Min': cluster_wpm
    })
    return return_df

In [170]:
cluster_classifier(merged_df).sort_values(by='Cluster_Volume', ascending=False)
cluster_classifier(merged_df)

# proccessed_df = cluster_classifier(merged_df)

# project_id = 'film-wizard-453315'  # GCP Project ID
# dataset_id = "clustered_movies"  # dataset name

# table_id = "cluster_dict"  # Replace with your table name
# proccessed_df.to_gbq(f"{dataset_id}.{table_id}", project_id=project_id, if_exists="replace")

,Cluster,Cluster_Volume,Top_Genres,Sentiment_Entropy_Level,Years_Education_Required,Words_Per_Min
0,0,77,COMEDY DRAMA ROMANCE,High,4.0,80.0
1,1,96,DRAMA THRILLER,Very High,4.0,63.0
2,2,50,COMEDY SCIENCE FICTION,Very High,4.0,78.0
3,3,136,DOCUMENTARY MUSIC,Very High,6.0,111.0
4,4,93,ACTION HORROR THRILLER,High,4.0,59.0
...,...,...,...,...,...,...
195,195,92,HORROR MYSTERY SCIENCE FICTION,High,4.0,61.0
196,196,90,COMEDY FANTASY,Very High,4.0,88.0
197,197,53,ANIMATION ADVENTURE COMEDY,Very High,4.0,88.0
198,198,105,WAR ACTION DRAMA,High,4.0,59.0
199,199,94,THRILLER,High,4.0,62.0

In [130]:
merged_df[merged_df['Cluster']==59][['tmdbId', 'Cluster', 'Title', 
       'joy', 'neutral', 'sadness', 'surprise',
       'anger', 'disgust', 'fear', 'sentiment_entropy', 'sentiment_std',
       'hapax', 'fkgl', 'fre', 'smog', 'fog', 'word count', 'TTR',
       'script_length', 'mean_word_length', 'release_year',
       'genres', 'words_per_minute']].describe()

,tmdbId,Cluster,joy,neutral,sadness,surprise,anger,disgust,fear,sentiment_entropy,...,hapax,fkgl,fre,smog,fog,word count,TTR,script_length,mean_word_length,words_per_minute
count,44.0,44.0,44.000000,44.000000,44.000000,44.000000,44.000000,44.000000,44.000000,44.000000,...,44.0,44.000000,44.000000,44.000000,44.000000,44.0,44.000000,44.0,44.000000,44.000000
mean,908626.295455,59.0,0.081223,0.172938,0.083178,0.118606,0.211980,0.144566,0.187509,1.035491,...,807.25,3.011364,89.478409,6.904545,4.468409,1528.431818,0.167253,9368.909091,3.955420,133.995676
std,209195.191733,0.0,0.038684,0.091956,0.053753,0.078982,0.127500,0.081221,0.077627,0.248780,...,185.469878,0.817317,4.245976,0.564844,0.705981,314.291555,0.023381,2687.310792,0.114436,26.522388
min,505159.0,59.0,0.022222,0.031915,0.000000,0.000000,0.034091,0.013514,0.063492,0.351449,...,531.0,1.500000,78.650000,6.000000,3.380000,1078.0,0.124128,5590.0,3.746703,70.885714
25%,669857.25,59.0,0.049056,0.104103,0.042744,0.069296,0.095925,0.104575,0.133700,0.867333,...,661.25,2.600000,87.210000,6.500000,3.950000,1345.0,0.150706,7767.25,3.863996,113.325282
50%,974433.5,59.0,0.081271,0.158462,0.075922,0.103922,0.212676,0.133969,0.165686,1.101377,...,773.0,2.900000,88.580000,6.800000,4.330000,1467.5,0.170394,9043.0,3.940722,132.225949
75%,1069728.75,59.0,0.106814,0.233208,0.118899,0.155307,0.272614,0.191678,0.241609,1.207419,...,900.5,3.500000,90.285000,7.200000,4.932500,1668.0,0.183770,10471.0,4.027693,155.271186
max,1169007.0,59.0,0.182927,0.405405,0.226415,0.414141,0.514706,0.416667,0.363636,1.457645,...,1522.0,5.100000,97.700000,8.500000,7.090000,2848.0,0.243113,20279.0,4.251630,186.355932

In [100]:
merged_df[['tmdbId', 'Cluster', 'Title', 
       'joy', 'neutral', 'sadness', 'surprise',
       'anger', 'disgust', 'fear', 'sentiment_entropy', 'sentiment_std',
       'hapax', 'fkgl', 'fre', 'smog', 'fog', 'word count', 'TTR',
       'script_length', 'mean_word_length', 'release_year',
       'genres', 'words_per_minute']]

,tmdbId,Cluster,Title,joy,neutral,sadness,surprise,anger,disgust,fear,...,fre,smog,fog,word count,TTR,script_length,mean_word_length,release_year,genres,words_per_minute
0,295050,0,#Stuck (2014),0.142857,0.250000,0.119048,0.202381,0.083333,0.095238,0.107143,...,95.57,6.8,4.65,1494,0.166148,8992,3.828848,2014,COMEDY DRAMA ROMANCE,107.047619
1,43354,0,The Captain's Paradise (1953),0.128205,0.397436,0.320513,0.076923,0.051282,0.000000,0.025641,...,80.48,7.0,4.03,1395,0.186124,7495,4.184523,1953,ROMANCE COMEDY DRAMA,79.734043
2,325138,0,Dum Laga Ke Haisha (2015),0.096774,0.064516,0.451613,0.209677,0.048387,0.000000,0.129032,...,83.15,7.7,6.47,1447,0.223062,6487,4.045321,2015,COMEDY DRAMA ROMANCE,58.441441
3,3082,0,Modern Times (1936),0.750000,0.250000,0.000000,0.000000,0.000000,0.000000,0.000000,...,60.41,10.1,8.71,188,0.639456,294,5.081633,1936,COMEDY DRAMA ROMANCE,3.379310
4,351964,0,The Escort (2015),0.168421,0.210526,0.189474,0.147368,0.147368,0.042105,0.094737,...,87.72,6.9,4.52,1632,0.163021,10011,3.897213,2015,DRAMA COMEDY ROMANCE,113.761364
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19613,297702,199,Gutshot Straight (2014),0.100000,0.283333,0.100000,0.166667,0.116667,0.033333,0.200000,...,97.91,5.8,3.42,1054,0.163487,6447,3.778347,2014,THRILLER,72.438202
19614,276839,199,Home Sweet Hell (2015),0.086957,0.130435,0.115942,0.159420,0.217391,0.028986,0.260870,...,98.82,6.1,3.46,1222,0.169041,7229,3.837322,2015,COMEDY THRILLER,73.765306
19615,353732,199,River (2016),0.047619,0.285714,0.142857,0.142857,0.095238,0.000000,0.285714,...,98.92,6.1,3.42,595,0.267416,2225,3.873708,2016,THRILLER,23.421053
19616,256311,199,Stereo (2014),0.023256,0.046512,0.046512,0.116279,0.209302,0.023256,0.534884,...,98.92,5.7,3.26,906,0.198163,4572,3.775153,2014,THRILLER,48.126316
19617,53882,199,Absence of the Good (1999),0.032258,0.306452,0.080645,0.209677,0.112903,0.016129,0.241935,...,98.41,6.1,3.43,1230,0.189173,6502,3.943863,1999,THRILLER,72.244444

In [110]:
merged_df[merged_df['Cluster']==30][['tmdbId', 'Cluster', 'Title', 
       'joy', 'neutral', 'sadness', 'surprise',
       'anger', 'disgust', 'fear', 'sentiment_entropy', 'sentiment_std',
       'hapax', 'fkgl', 'fre', 'smog', 'fog', 'word count', 'TTR',
       'script_length', 'mean_word_length', 'release_year',
       'genres', 'words_per_minute']]

,tmdbId,Cluster,Title,joy,neutral,sadness,surprise,anger,disgust,fear,...,fre,smog,fog,word count,TTR,script_length,mean_word_length,release_year,genres,words_per_minute
3377,250665,30,No No: A Dockumentary (2014),0.134752,0.312057,0.134752,0.127660,0.078014,0.000000,0.212766,...,84.17,7.7,5.89,1973,0.130810,15083,3.982961,2014,DOCUMENTARY,150.830000
3378,249170,30,Dinosaur 13 (2014),0.141593,0.274336,0.176991,0.150442,0.088496,0.017699,0.150442,...,74.59,9.6,7.04,1944,0.168443,11541,4.249632,2014,DOCUMENTARY,121.484211
3379,15725,30,Chasing Ghosts: Beyond the Arcade (2007),0.214286,0.325397,0.166667,0.190476,0.039683,0.015873,0.047619,...,85.49,8.3,5.71,2195,0.164703,13327,4.056352,2007,DOCUMENTARY,148.077778
3380,39183,30,Once in a Lifetime: The Extraordinary Story of...,0.271028,0.074766,0.158879,0.158879,0.074766,0.046729,0.214953,...,77.43,8.6,5.90,2036,0.188641,10793,4.264894,2006,DOCUMENTARY,111.268041
3381,282297,30,Cowspiracy: The Sustainability Secret (2014),0.045455,0.310606,0.204545,0.143939,0.053030,0.022727,0.219697,...,71.00,8.8,5.31,2252,0.181906,12380,4.524233,2014,DOCUMENTARY,137.555556
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3576,5205,30,Pumping Iron (1977),0.161765,0.441176,0.058824,0.132353,0.044118,0.000000,0.161765,...,89.24,6.8,3.85,1201,0.172260,6972,3.987665,1977,DOCUMENTARY,81.069767
3577,52086,30,Wide Awake (2006),0.079208,0.316832,0.207921,0.188119,0.039604,0.000000,0.168317,...,89.45,7.0,4.17,1758,0.169789,10354,4.035832,2006,DOCUMENTARY HORROR,131.063291
3578,245266,30,Coma (2007),0.086538,0.471154,0.153846,0.067308,0.009615,0.009615,0.201923,...,89.65,6.7,3.85,1459,0.136012,10727,3.964202,2007,DOCUMENTARY,89.391667
3579,42314,30,Looking for Richard (1996),0.073171,0.178862,0.227642,0.048780,0.146341,0.016260,0.308943,...,89.85,6.9,3.98,2285,0.188609,12115,4.153694,1996,DOCUMENTARY,108.169643
3580,56358,30,Models (1999),0.056180,0.314607,0.179775,0.078652,0.044944,0.168539,0.157303,...,98.51,6.1,3.28,1335,0.138170,9662,3.788036,1999,DOCUMENTARY DRAMA,81.881356

In [145]:
import sys
sys.path.append("../models")

import svd

/Users/tigranarzumanov/.pyenv/versions/3.10.6/envs/film_wizard/lib/python3.10/site-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [171]:

imdb_id = [109830,60827]
titles = ['Forrest Gump', 'Persona']
sample = pd.DataFrame({'imdbId': imdb_id,
                       'Title':titles,
                       'Cluster': [0, 1]})

def cluster_descriptor(recom_df):
    """
    Filters cluster_dict based on the unique clusters present in recom_df.

    Parameters:
    recom_df (DataFrame): DataFrame containing movie recommendations with a 'Cluster' column.
    cluster_dict (DataFrame): DataFrame containing cluster descriptions.

    Returns:
    DataFrame: Filtered cluster_dict with only the relevant clusters.
    """
    
    # Fetch data from BigQuery
    cluster_query = """ SELECT * FROM `film-wizard-453315.clustered_movies.cluster_dict` """
    cluster_dict = client.query(cluster_query).to_dataframe()
    
    # Get unique cluster values from recom_df
    unique_clusters = recom_df['Cluster'].unique()

    # Filter cluster_dict where 'Cluster' is in the unique_clusters list
    filtered_cluster_dict = cluster_dict[cluster_dict['Cluster'].isin(unique_clusters)].reset_index(drop = True)

    return filtered_cluster_dict

In [172]:
cluster_descriptor(sample)

,Cluster,Cluster_Volume,Top_Genres,Sentiment_Entropy_Level,Years_Education_Required,Words_Per_Min
0,0,77,COMEDY DRAMA ROMANCE,High,4.0,80.0
1,1,96,DRAMA THRILLER,Very High,4.0,63.0